
img{
    width: 200px;
    height: 200px;
}
img:hover{
    animation: rotate 1s infinite;
}
@keyframes  rotate{
    0%, 50%, 100% { transform: translateY(0px); }
    25%, 75% { transform: translateY(-3px); }
}

.btndecarrito{
    border-radius: 10px;
    background: #7c7c7c;
    border: 1px solid #7c7c7c;
}
.btndecarrito:hover{
    background: white;
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    animation: rotate 1s infinite;
}
