*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

.nombre-col {
    flex: 0 0 10%;
    max-width: 10%;
}
.fecha-col {
    flex: 0 0 10%;
    max-width: 10%;
}